.alert-aside {

    li {

        border-bottom: var(--br1);
    }

    .copyright {

        display: block;
        width: 80%;
        color: #5f5f5f;
        font-size: 11px;
        padding: 20px 0 10px 10px;
    }

    .term-route {

        display: block;
        color: #5f5f5f;
        margin: 10px;
        font-size: 11px;
        transition: 0.17s;

        .fa {

            font-size: 11px;
        }

        &:hover {

            color: var(--second-color);
        }
    }

    @media only screen and (min-width: 940px) {
        
        position: static !important;
        z-index: 0;
        background: transparent;
        padding: 15px 10px;
    }

    @media only screen and (max-width: 940px) {
        
        &.closed {

            display: none;
        }
    }

    &__menu-wrapper {
        position: fixed;
        max-width: 260px;
    }

    &__menu {

        min-width: 190px;
        width: 80%;
        box-shadow: var(--dv4);
        background: white;
        position: fixed;
        height: 100%;

        .user-card {

            padding: 10px 0;
            box-shadow: var(--dv2);

            a {

                margin-top: 10px;
                padding: 0 15px;
                text-align: center;

                > h2 {

                    font-size: 15px;
                    color: #5f5f5f;
                    text-align: center;
                }

                > span {

                    color: var(--main-color);
                    font-size: 13px;
                }
            }
        }

        @media only screen and (min-width: 940px) {

            width: 80%;
            box-shadow: var(--dv2);
            border-radius: 5px;
            position: static;
            height: auto;

            .user-card {

                box-shadow: none;
            }
        }

        > li > span {

            display: block;
            padding: 10px 15px;
            cursor: pointer;
        }

        li.current {

            color: var(--second-color);
        }

        > li > a {

            display: block;
            padding: 10px 15px;
            transition: color 0.3s;
            font-size: 13px;

            &:hover {

                color: var(--second-color);

                > i {

                    border-radius: 50%;
                    opacity: 0.75;
                    // background-color: var(--second-color) !important;
                }
            }

            > i {

                margin-right: 15px;
                // background-color: var(--second-color);
                // color: white;
                // box-shadow: var(--dv2);
                padding: 8px;
                // border-radius: 5px;
                transition: 0.15s;
            }
        }
    }
}