.app-avatar {

    width: 45px;
    height: 45px;
    // padding: 10px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;

    img {

        contain: cover;
        width: 100%;
        object-fit: cover;
    }

    &.normal {

        width: 65px;
        height: 65px;
    }

    &.small {

        width: 45px;
        height: 45px;
    }

    &.large {

        width: 95px;
        height: 95px;
    }
}